 .section-wrapper {
     position: relative;
     --max-width: 1400px;
     --padding: 1.5rem;
     width: min(var(--max-width), 100% - var(--padding)*2);
     margin-inline: auto;
 }
.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-playpen {
  font-family: "Playpen Sans", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
